<div class="container">
  <h2>{{doctor.firstName}} {{doctor.lastName}}'s details</h2>
  <div>
    <form (ngSubmit)="onSubmit(rForm.value)">
      <div [formGroup]="rForm" class="form-group">
        <label for="panCard">PanCard</label>
        <input type="text" class="form-control" id="panCard" required [(ngModel)]="doctor.panCard" name="panCard" formControlName="panCard">
        <small *ngIf="!rForm.controls['panCard'].valid && rForm.controls['panCard'].touched">Name is required</small>
      </div>
      <div [formGroup]="rForm" class="form-group">
        <label for="Mail">Surname</label>
        <input type="text" class="form-control" id="surname" required [(ngModel)]="doctor.surname" name="surname" formControlName="surname">
        <small *ngIf="!rForm.controls['surname'].valid && rForm.controls['surname'].touched">Surname is required</small>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="doctor.title" name="title">
      </div>

           <div [formGroup]="rForm" class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" onkeypress='return event.charCode >=48 && event.charCode <= 57 || event.charCode == 45' class="form-control"
          id="phone" required [(ngModel)]="doctor.phone" name="phone" formControlName="phone">
        <small *ngIf="!rForm.controls['phone'].valid && rForm.controls['phone'].touched">Phone Number is required</small>
      </div>
      <div class="form-group" [formGroup]="rForm">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="doctor.email" name="email" formControlName="email">
        <small *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Incorrect email format</small>
      </div>

      <div class="btn-group">
        <button class="btn btn-primary" (click)="goBack()">Back</button>
        <button type="submit" [disabled]="!rForm.valid" class="btn btn-success">Update</button>
      </div>
    </form>
  </div>
</div>
