<div class="container">
  <h2 id="h"> {{candidate.firstName}} {{candidate.lastName}}'s details</h2>
  <div>
    <form (ngSubmit)="onSubmit(rForm.value)">
      <div [formGroup]="rForm" class="form-group">
        <label for="candidate_id">PanCard</label>
        <input type="text" class="form-control" id="candidate_id" required [(ngModel)]="candidate.candidate_id" name="candidate_id" formControlName="candidate_id">
        <small *ngIf="!rForm.controls['candidate_id'].valid && rForm.controls['candidate_id'].touched">Pan Card Number is required</small>
      </div>
      <div [formGroup]="rForm" class="form-group">
        <label for="candidateEmailID">Email ID</label>
        <input type="text" class="form-control" id="candidateEmailID" required [(ngModel)]="candidate.candidateEmailID" name="candidateEmailID" formControlName="candidateEmailID">
        <small *ngIf="!rForm.controls['candidateEmailID'].valid && rForm.controls['candidateEmailID'].touched">Incorrect email format</small>
      </div>
      <div  [formGroup]="rForm" class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName"  required [(ngModel)]="candidate.firstName" name="firstName" formControlName="firstName" >
        <small *ngIf="!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched">First Name is required</small>
      </div>
      <div [formGroup]="rForm" class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="candidate.lastName" name="lastName" formControlName="lastName">
          <small *ngIf="!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched">Last Name is required</small>
      </div>

      <div [formGroup]="rForm" class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <input type="text" class="form-control" id="mobileNumber" required [(ngModel)]="candidate.mobileNumber" name="mobileNumber" formControlName="mobileNumber">
        <small *ngIf="!rForm.controls['mobileNumber'].valid && rForm.controls['mobileNumber'].touched">10 digit Mobile Number is required</small>
      </div>

      <div [formGroup]="rForm" class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" id="status" required [(ngModel)]="candidate.status" name="status" formControlName="status">
      </div>
          
   <div [formGroup]="rForm" class="form-group">
      <label for="requirementID">Requiremnet ID</label>   
      <select id="requirementID" required [(ngModel)]="candidate.requirementID" name="requirementID" formControlName="requirementID">
      <option value="123">Senior Software Engineer</option>
      <option value="234">Software Engineer</option>
      <option value="567">Associate Software Engineer</option>
      </select>
    </div>

    <div [formGroup]="rForm" class="form-group">
      <label for="onlineTestScore">Online Test Score</label>
      <input type="text" class="form-control" id="status" required [(ngModel)]="candidate.interview.onlineTestScore" name="onlineTestScore" formControlName="onlineTestScore">
    </div>

    <div [formGroup]="rForm" class="form-group">
      <label for="firstLevelName">First Level Taken By</label>
      <input type="text" class="form-control" id="firstLevelName" required [(ngModel)]="candidate.interview.firstLevelName" name="firstLevelName" formControlName="firstLevelName">
    </div>

    <div [formGroup]="rForm" class="form-group">
      <label for="firstLevelFeedback">First Level Feedback</label>
      <input type="text" class="form-control" id="firstLevelFeedback" required [(ngModel)]="candidate.interview.firstLevelFeedback" name="firstLevelFeedback" formControlName="firstLevelFeedback">
    </div>

    <div [formGroup]="rForm" class="form-group">
      <label for="dateOfOffer">Date Of Offer</label>
      <input type="date" class="form-control" id="dateOfOffer" required [(ngModel)]="candidate.interview.dateOfOffer" name="dateOfOffer" formControlName="dateOfOffer">
    </div>

      <!-- <h2>{{candidate.interview.onlineTestScore}}</h2> -->

      <div class="btn-group">
        <button class="btn btn-primary" (click)="goBack()">Back</button>
        <button type="submit" [disabled]="!rForm.valid" class="btn btn-success">Update</button>
      </div>
    </form>
  </div>
</div>
