<div class="container">
  <h2 id="h"> {{candidate.firstName}} {{candidate.lastName}}'s details</h2>
  <div>
    <form (ngSubmit)="onSubmit(rForm.value)">
      <div [formGroup]="rForm" class="form-group">
        <label for="panCard">PanCard</label>
        <input type="text" class="form-control" id="panCard" required [(ngModel)]="candidate.panCard" name="panCard" formControlName="panCard">
        <small *ngIf="!rForm.controls['panCard'].valid && rForm.controls['panCard'].touched">Pan Card Number is required</small>
      </div>
      <div [formGroup]="rForm" class="form-group">
        <label for="candidateMailID">Email ID</label>
        <input type="text" class="form-control" id="candidateMailID" required [(ngModel)]="candidate.candidateMailID" name="candidateMailID" formControlName="candidateMailID">
        <small *ngIf="!rForm.controls['candidateMailID'].valid && rForm.controls['candidateMailID'].touched">Incorrect email format</small>
      </div>
      <div  [formGroup]="rForm" class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName"  required [(ngModel)]="candidate.firstName" name="firstName" formControlName="firstName" >
        <small *ngIf="!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched">First Name is required</small>
      </div>
      <div [formGroup]="rForm" class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="candidate.lastName" name="lastName" formControlName="lastName">
          <small *ngIf="!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched">Last Name is required</small>
      </div>

      <div [formGroup]="rForm" class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <input type="text" class="form-control" id="mobileNumber" required [(ngModel)]="candidate.mobileNumber" name="mobileNumber" formControlName="mobileNumber">
        <small *ngIf="!rForm.controls['mobileNumber'].valid && rForm.controls['mobileNumber'].touched">10 digit Mobile Number is required</small>
      </div>
      

      <div class="btn-group">
        <button class="btn btn-primary" (click)="goBack()">Back</button>
        <button type="submit" [disabled]="!rForm.valid" class="btn btn-success">Update</button>
      </div>
    </form>
  </div>
</div>
