<app-modal-req-wrap>
<div class="container">
    <div id="print-section" class="align-middle">
      <h3 id="h" class="head">Requirement Id : {{requirement.id}}</h3>
  
      <div>
        <table class="table table-hover table-responsive align-middle">
          <tr>
            <td>Position Offered  :</td>
            <td>{{requirement.name}}</td>
          </tr>
          <tr>
            <td>Domain  :</td>
            <td>{{requirement.domain}}</td>
          </tr>
          <tr>
            <td>Sub-Domain  :</td>
            <td>{{requirement.subDomain}}</td>
          </tr>
          <tr>
            <td>Requirement Creator :</td>
            <td>{{requirement.reportingManager}}</td>
          </tr>
          <tr>
            <td>Status  :</td>
            <td>{{requirement.status}}</td>
          </tr>
          <tr>
            <td>Vacancy Available  :</td>
            <td>{{requirement.vacancy}}</td>
          </tr>
          <tr>
            <td>Job Location  :</td>
            <td>{{requirement.jobLocation}}</td>
          </tr>
          <tr>
            <td>Minimum Experience  :</td>
            <td>{{requirement.minExp}}</td>
          </tr>  
        </table>
  
  
      </div>
    </div>

</div>
</app-modal-req-wrap>

