#h{
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-top: 100;
    text-decoration-color: blue;
    align-content: center;
    margin: 20px;

    background-color: darkgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  
  }
  #h1{
    padding: 20px;
    margin-top: 80;
    text-decoration-color: blue;
    margin: 10px;
    background-color: darkgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  
  }