<div>

<!-- <img src="assets/logo.png" alt="logo" width=200 height=200> -->

<h1 id="h">Welcome to Hiring Portal</h1>
<!-- <h1>One stop for all Hiring Solution</h1> -->
<h1>Features and Funtionalities</h1>

</div>

<div class="container">
        <div class="col-md-6 " routerLink="/candidate/Add"><span style="color:white">Add Candidate</span></div>
        <div class="col-md-6 " routerLink="/candidate/Search" ><span style="color:white">Search Candidate</span></div>
        <div class="col-md-6 " routerLink="/requirements/All" ><span style="color:white">Requirement List</span></div>
</div>
